.alert
  display block
  padding 20px
  transition all .2s ease
  a
    color $c-gray-light
    text-decoration underline
    &:hover
      color $c-text-inverse
      text-decoration none
  &-danger
    background $c-red
    color $c-text-inverse
    &:hover
      box-shadow 0 3px 8px 0 $c-red
  &-warning
    background #e5cc2f
    color $c-text-inverse
    &:hover
      box-shadow 0 3px 8px 0 #e5cc2f
  &-success
    background $c-green
    color $c-text-inverse
    &:hover
      box-shadow 0 3px 8px 0 $c-green
