mixin news-item()
    +b.col-xs-12.col-sm-6.col-md-4&attributes(attributes)
        .news-item
            h4.news-item__title: a(href="#") Ultrici accums iaculis que vehicula ent duis arcucura
            .news-item__body.text-gray-light Convall aliquama lum egestas lla suscipit sisut turpisut. Per musetiam sent leosed etsed que esque esent convall ligulam. Sollici sodale itur quiscras leoetiam vulput bibendu. Aenean uisque disse ellus urnain cidunt phasel faucibus nunccras leofusce. Tur dolordo tasse leocras arcused mus sceleris llus nullam.

            .news-item__bottom.row.margin-top
                .col-xs-6
                    span 2 дня назад
                .col-xs-6.text-right
                    a.btn.btn-white-border.btn-small Подробнее
