.news-item
  display block
  line-height 16pt

  &__tags
    a
      background white
      padding 0 3px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      &:hover
        background $c-green
        color: white
  h4
    a
      color: white

