include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../header/header
include ../footer/footer
include ../content/content
include ../breadcrumbs/breadcrumbs
include ../main-search/main-search
include ../main-categories/main-categories
include ../card/card
include ../popular-service/popular-service
include ../news-index/news-index
include ../news-item/news-item
include ../service-step/service-step
include ../alert/alert
include ../sidebar/sidebar

doctype html
html(lang='ru')
    include ../head/head
    +page
        +header
        +content
            block content
        +footer
        +scripts(['app.min.js'])
