.modal
	min-width 300px
	margin 0 auto
	background white
	border-radius 2px
	-webkit-box-shadow: 0 0 16px 1px $c-black
	-moz-box-shadow: 0 0 16px 1px $c-black
	box-shadow: 0 0 16px 1px $c-black
	padding $margin-medium
	max-width 600px
	position relative

	&-small
		max-width 400px
	&-large
		max-width 800px
