mixin popular-service(icon)
    +b.col-sm-6.col-md-3.col-xs-12&attributes(attributes)
        a.popular-service(href="service.html")
            .popular-service__icon
                i(class=icon)

            .popular-service__body
                block
