.popular-service
  display block
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius
  border 1px solid $c-gray-light
  text-align center
  transition all .2s ease
  margin-bottom $margin-medium

  &:hover
    box-shadow 0 0px 15px 0 $c-gray
    //border 1px solid $c-blue


  &__body
    padding 20px
    color $c-text
  &__icon
    padding 40px 0
    i
      font-size 50pt
      color $c-text

