mixin pay-step(price)
    +b.pay-step&attributes(attributes)
        .pay-step__price= 'Стоимость: €' + price
        .pay-step__button
            img(src="https://woocommerce.com/wp-content/uploads/2016/04/PayPal-Express@2x.png" style="width: 200px")
