.pay-step
  display inline-block
  border 1px solid $c-green
  padding $margin-medium
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

  &__price
    font-size 16pt
    font-weight bold
    color $c-green

  &__button
    margin-top $margin-medium