mixin service-step(step, title)
    +b.service-step&attributes(attributes)
        .service-step__left
            //.service-step__left-line
            //if step > 0
            //    .service-step__left-number= step
            //else
            //    .service-step__left-number-full
            if step != false
                i(class=step)

        .service-step__content

            if title
                h4= title

            block
