.service-step
  display table-row
  &__left
    display table-cell
    width 100px
    position relative
    overflow hidden
    vertical-align top
    font-size 20pt
    padding-left 5px

    &-number, &-number-full
      width 15px
      height 15px
      border-radius 25px
      border 1px solid $c-gray
      margin-left 13px
      &-full
        background $c-gray

    &-line
      position absolute
      height 100%
      width 1px
      margin-left 20px
      background $c-gray
  &__content
    display table-cell
    padding-bottom $margin-large

  &.warning
    .service-step__left
      color $c-red

      &-number, &-number-full
        border-color $c-red
        &-full
          background $c-red
      &-line
        background $c-red


  &.active
    .service-step__left
      color $c-green

      &-number, &-number-full
        border-color $c-green
        &-full
          background $c-green
      &-line
        background $c-green


  &:last-child
    .service-step
      &__left-line
        display none

