<template>
    
</template>

<script>
    export default {
        name: 'my-component',
        data: function(){
            return {
                myVar: 'Hello Vue'
            }
        }
    }
</script>

<style scoped>

</style>