mixin sidebar()
    +b.col-sm-3.col-xs-12.sidebar&attributes(attributes)
        +card("Навигация").card-noshadow
            ul.sidebar_menu
                li: a(href="#") Профиль
                li: a(href="#") Заказы
                li: a(href="#") Настройки
