.card
  margin $margin-small 0
  background $c-card
  box-shadow $c-black 0px 0px 10px 0px;
  color $c-text
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

  &-title
    padding $margin-small
    font-size 18pt
    border-bottom 1px solid $c-gray-light

  &-body
    padding $margin-small

  &-gray
    background $c-gray-light
  &-noshadow
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
  &-border
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    border 1px solid $c-gray-light
