mixin header()
    +b.header&attributes(attributes)
        a.header-logo CYP SERVICE
        nav.header-langs
            ul
                li: a(href="#") EN
                li: a(href="#") RU
                li: a(href="#") GR
        nav.header-nav
            ul
                li: a(href="#") Вход
                li: a(href="#") Регистрация
        nav.header-nav
             ul
                 li: a(href="#") About us
                 li: a(href="#") Terms