.header
  display block
  height $header-height
  background $c-primary
  color: white
  line-height $header-height
  padding 0 $margin-medium

  &-logo
    color: white

    &:hover
      color: $c-gray-light

  &-right
    float right

  &-langs
    float right
    margin-left $margin-medium
    ul
      li
        display inline-block
        a
          color $c-text-inverse


  nav
    margin-left $margin-large

  &-nav
    float right
    margin-left $margin-medium
    ul
      li
        display inline-block
        margin-left $margin-small
        a
          color $c-text-inverse