extends /blocks/layout-default/layout-default

block head
    - var pageTitle = 'CSSSR Project Template';

block content
    .container-box
        +breadcrumbs('Личный кабинет')
        .row
            +sidebar
            .col-sm-9.xol-xs-12.margin-top
                h1 Личный кабинет

                table.table
                    thead
                        tr
                            th: a ID
                            th: a Имя
                            th: a Сервис
                            th: a Тип
                            th: a Статус
                            th: a
                    tbody
                        tr
                            td 1
                            td Vladimir
                            td Pink Slip
                            td Полное сопроваждение
                            td Не обработано
                            td: a(href="#") Просмотр
