extends /blocks/layout-default/layout-default

block head
    - var pageTitle = 'CSSSR Project Template';

block content
    +main-categories
    +main-search
    .container-box
        h3 Популярные услуги

        .row.margin-top-large
            +popular-service('ion-ios-list-outline') Оформление Pink Slip
            +popular-service('ion-ios-bell-outline') Запись в миграционный центр
            +popular-service('ion-ios-paper-outline') Получение сертификата о браке
            +popular-service('ion-ios-bookmarks-outline') Запись в консульство
            +popular-service('ion-ios-flag-outline') Запись в миграционный центр
            +popular-service('ion-ios-book-outline') Оформление Pink Slip
            +popular-service('ion-ios-help-outline') Запись в консульство
            +popular-service('ion-ios-circle-outline') Получение сертификата о браке

    +news-index
        +news-item
        +news-item
        +news-item

        .col-xs-12.text-center.margin-top-large
            a.btn.btn-success(href="#") Все новости
