extends /blocks/layout-default/layout-default
include ../blocks/comment/comment

block head
    - var pageTitle = 'Модерация заявки';

block content
    .container-box
        +breadcrumbs('Модерация заявки')
        .row
            +sidebar
            .col-sm-9.xol-xs-12.margin-top
                h1 Модерация заявки

                .row
                    .col-sm-12
                        h3 Документы
                        ul
                            li: a(href="#") - Passport
                            li: a(href="#") - Marriage certificate
                            li: a(href="#") - MCV3



                        h3 Написать пользователю
                        form.form
                            .form-group
                                textarea
                            .form-group
                                button.btn.btn-success Отправить

                        h3 Последние сообщения
                        +comment Вам нужно сделать то-то и то-то
                        +comment Вот ваши документы
