extends /blocks/layout-default/layout-default
include /blocks/pay-step/pay-step

block head
    - var pageTitle = 'CSSSR Project Template';

block content
    .container-box
        +breadcrumbs('Pink Slip')
        h1 Pink slip
        .row.margin-bottom
            .col-sm-6
                table.table
                    tr
                        td Стоимость
                        td Бесплатно - 200 евро
                    tr
                        td Сроки исполнения
                        td До 2 недель
                    tr
                        td Ордер
                        td
                            select.select-order
                                option Новый
                                option(selected=true) PS12351232322
                                option PS12351232323
                                option PS12351232323
                    tr
                        td Статус
                        td Активен
                    tr
                        td Баланс
                        td 10 евро

        .service
            +service-step(false).active
                .btn-group
                    a.btn.btn-success Бесплатная информация
                    a.btn.btn-success-border Электронные документы
                    a.btn.btn-success-border Сопровождение

            +service-step('ion-ios-paper-outline', 'Процедура')
                p Procedure for electronic documents

            +service-step('ion-ios-list-outline', 'Чек лист')
                table.table
                    tr: td Copy of valid passport or other travel document with validity of at least three (3) months from the date of the submission of the application
                    tr: td Copy of the passport or other travel document, indicating the last arrival in the Republic and the relevant visa (if applicable)
                    tr: td Copy of the Special Homogenous Identity Card (SHIC), or Certificate by the Embassy of Greece stating that the application for the SHIC is still under consideration
                    tr: td Letter of approval (where applicable)
                    tr: td Original letter of guarantee issued by a bank or cooperative institution in Cyprus with validity of 10 years covering possible repatriation expenses. The amount depends on the country of origin.
                    tr: td Certificate of Health Insurance for medical care that covers inpatient and outpatient care and transportation of corpse (Plan A)
                    tr: td Copy of marriage certificate (where applicable)
                    tr: td Title deed or rental agreement of a house/apartment duly certified by the relevant president of the community (mukhtar)
                    tr: td Proof of stable or adequate income deriving from sources other than employment (i.e. pension, bank account's statement, interest from deposits, dividends etc)
                    tr: td Certificate from a banking institution in Cyprus or a bank account statement proving swifts from abroad
            +service-step('ion-ios-personadd-outline', 'Авторизация')
                p.margin-bottom Для продолжения работы в системе, вам необходимо авторизоваться
                div
                    a.btn.btn-success.margin-right-small(href="#") Вход
                    | или
                    a(href="#") Регистрация

            +service-step('ion-ios-checkmark-outline', 'Авторизация').active
                +alert.alert-success Вы успешно авторизованы

            +service-step('ion-ios-compose-outline', 'Заполните форму')
                a.btn.btn-success Заполнить форму

            +service-step('ion-ios-close-outline', 'Заполните форму').warning
                +alert.alert-danger
                    | Вам необходимо выполнить
                    a(href="#") вход
                    = ' или '
                    a(href="#") регистрацию

            +service-step(false, 'Сделайте вашу иммиграцию быстрее')
                .btn-group
                    a.btn.btn-success Бесплатная информация
                    a.btn.btn-success-border Электронные документы
                    a.btn.btn-success-border Сопровождение
            +service-step('ion-ios-location-outline', 'Офисы')
                table.table
                    thead
                        tr
                            th Адрес
                            th Телефон
                            th Рабочее время
                            th Вебсайт
                    tr
                        td Civil Registry and Migration Department, Chilonos, 1457 Nicosia
                        td: a(href="tel:+35722804486") +357 22 804486
                        td Monday - Friday 08:00 - 15:00
                        td: a(href="http://moi.gov.cy") moi.gov.cy
                    tr
                        td 223, Franklin Roosevelt, Limassol, Cyprus
                        td: a(href="tel:+35725805641") +357 25 805641
                        td Monday - Friday 07:30 - 14:30
                        td: a(href="http://moi.gov.cy") moi.gov.cy
            +service-step('ion-ios-cart-outline', 'Оплата услуг')
                +pay-step(5)
            +service-step('ion-ios-glasses-outline', 'Проверьте ваши документы')
                a.btn.btn-success Проверить
            +service-step('ion-ios-cloud-upload-outline', 'Отправить на проверку')
                p.margin-bottom После проверки ваших документов наши кураторы свяжутся с вами
                a.btn.btn-success Отправить документы куратору
