.form
  display block
  &-group
    margin-bottom $margin-medium

    label
      display block
      font-size 12pt
      margin-bottom 5px

    input[type="text"], input[type="date"], input[type="time"], select, textarea
      width 100%

  &-input
    &-group
      display flex
      input
        flex fill
        border-bottom-right-radius 0
        border-top-right-radius 0
      button, input[type="submit"]
        flex auto
        border-bottom-left-radius 0
        border-top-left-radius 0


select
  border 1px solid $c-gray-light
  min-height 35px
  line-height 35px
  padding 0 10px
  width 100%
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

textarea
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius
  padding 10px
  border 1px solid $c-gray-light
  resize vertical
  min-height 70px
  width 100%

input
  height 35px
  line-height 35px
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius
  padding 0 10px
  border 1px solid $c-gray-light
  width 100%

  &[type="checkbox"], &[type="radio"], &[type="submit"], &[type="button"], &[type="image"]
    line-height inherit
    height inherit
    width auto


