mixin breadcrumbs(page, items )
    +b('ul').breadcrumbs&attributes(attributes)
        li: a(href="index.html") Главная
        if items
            - each value, key in items
                li: a(href=key)= value
        li= page
