.breadcrumbs
  display block

  li
    display inline-block
    a
      color: $c-text
      &:hover
        color $c-gray
    &::after
      content '/'
      padding 0 $margin-small

    &:last-child::after
      content ''