.main-search
  display block
  background $c-primary
  color $c-text-inverse
  padding 40px 0

  form
    input[type="text"]
      height 46px
    button
      font-size 17pt
      height 46px
      padding 0 30px
