mixin main-search()
    +b.main-search&attributes(attributes)
        .container
            h1.text-center Услуги для населения Кипра
            form
                .form-input-group
                    input(type="text" placeholder="Найти услуги")
                    button.btn.btn-success
                        i.ion-ios-search
