.btn
  display inline-block
  min-height $button-height
  color $c-text
  padding 0 20px
  position relative
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius
  vertical-align middle
  line-height $button-height
  font-size 11pt
  text-decoration none
  transition all .2s ease
  cursor pointer
  text-align center
  btnBordered($c-black)

  & i
    font-size 15pt
    margin-right $margin-small

  &-group
    clearfix()
    .btn
      margin-x(0)
      position relative
      white-space nowrap
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      float left
      border-right-width 0
      &:first-child
        border-top-left-radius $border-radius
        border-bottom-left-radius $border-radius
      &:last-child
        border-top-right-radius $border-radius
        border-bottom-right-radius $border-radius
        border-right-width 1px

  &:disabled
    cursor not-allowed
    background $c-gray-light
    color: $c-gray
    border-color $c-gray-light
    box-shadow none
    &:hover
      box-shadow none
      background $c-gray-light
      border-color $c-gray-light

  &-small
    min-height 30px
    line-height 30px

  &-fill
    width 100%

  &-link, &-link-white
    color $c-text
    border none
    padding 0
    width auto

    &:hover
      background none
      box-shadow none
  &-link-white
    color white

  &-primary
    btnColored($c-primary)
  &-primary-border
    btnBordered($c-primary)

  &-white
    btnColored(#fff)
  &-white-border
    btnBordered(#fff)
    &:hover
      color black

  &-success
    btnColored($c-success)
  &-success-border
    btnBordered($c-success)

  &-danger
    btnColored($c-danger)
  &-danger-border
    btnBordered($c-danger)

  &-icon
    -webkit-border-radius: $border-radius
    -moz-border-radius: $border-radius
    border-radius: $border-radius
    border 1px solid $c-gray
    color $c-black
    background #f3f3f3
    width 25px
    height 25px
    text-align center
    line-height 25px
    font-size 10pt
    transition all .2s ease
    text-decoration none
    margin 0 3px

    &:hover
      box-shadow 0 3px 8px 0 $c-black

btnColored($color)
  background $color
  color $c-text-inverse
  border 1px solid $color

  &:hover
    background $color
    box-shadow 0 3px 15px 0 $color

btnBordered($color)
  background transparent
  color $color
  border 1px solid $color
  font-weight 600

  &:hover
    color $c-text-inverse
    background $color
    box-shadow 0 3px 15px 0 $color