- var items = [{'Миграция':'ion-ios-location-outline', 'Ком. услуги':'ion-ios-lightbulb-outline', 'Бизнес':'ion-social-euro-outline', 'Образование':'ion-ios-book-outline', 'Работа':'ion-ios-briefcase-outline', 'Медицина':'ion-ios-medkit-outline', 'Юр. помощь':'ion-ios-information-outline', 'Налоги':'ion-ios-calculator-outline'}]
mixin main-categories()

    +b.main-categories&attributes(attributes)
        for item in items
            for icon, name in item
                a.main-categories__item(href="#")
                    i(class=icon)
                    span= name


