.main-categories
  background $c-gray-light
  text-align center
  display block
  padding 20px 10px

  &__item
    display inline-block
    width 150px
    padding 15px
    color $c-text
    margin 5px 10px
    text-align center
    font-size 10pt
    vertical-align middle
    -webkit-border-radius: $border-radius
    -moz-border-radius: $border-radius
    border-radius: $border-radius
    transition all .2s ease

    i
      font-size 30pt
      display block
    span
      margin-top 5px
      display block

    &:hover
      color $c-text-inverse
      background $c-primary
      box-shadow 0 1px 8px 0 $c-black

