.text
  &-meta
    color: $c-gray
  &-white
    color: white
  &-left
    text-align left
  &-right
    text-align right
  &-center
    text-align center
  &-justify
    text-align justify
  &-gray
    color $c-gray
  &-gray-light
    color $c-gray-light

