h1
  font-size 30pt
  margin-bottom $margin-medium
h2
  font-size 24pt
  margin-bottom $margin-small
h3
  font-size 18pt
  margin-bottom $margin-small
h4
  font-size 16pt
  margin-bottom $margin-small

body
  font-family: 'Open Sans', sans-serif;

ul
  li
    margin-bottom $margin-small

hr
  height 1px
  background $c-gray-light
  margin $margin-large 0
  border none

.margin
  &-bottom
    margin-bottom $margin-medium
    &-small
      margin-bottom $margin-small
    &-large
      margin-bottom $margin-large
  &-top
    margin-top $margin-medium
    &-small
      margin-top $margin-small
    &-large
      margin-top $margin-large
  &-left
    margin-left  $margin-medium
    &-small
      margin-left $margin-small
    &-large
      margin-left $margin-large
  &-right
    margin-right $margin-medium
    &-small
      margin-right $margin-small
    &-large
      margin-right $margin-large
