.table
	width 100%
	thead
		tr
			th
				font-weight bold
				font-size 12pt
				text-align left
				padding 5px $margin-small
				+below(2)
					font-size 11pt
		+below(1)
			display none
	tr
		border-bottom 1px solid $c-gray-light

		&:nth-child(even)
			background #f7f7f7
		td
			padding 10px

	+below(2)
		display block
		tr
			display block
			td
				display inline-block