.badge
  font-size 9pt
  color: $c-text-inverse
  padding 0 5px
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  border-radius: $border-radius

  &-count
    display block
    position absolute
    top -5px
    right -5px
    background $c-red
    color $c-text-inverse
    border-radius 25px
    padding 3px 3px
    min-width: 20px
    font-size 8pt
    border 2px solid white

  &-blue
    background $c-blue
  &-green
    background $c-green
  &-red
    background $c-red
  &-black
    background $c-black
