.comment
  display block
  margin-top 20px
  border-bottom 1px solid $c-gray-light
  padding-bottom 10px

  &-info
    clearfix()
  &-name
    font-weight bold
    margin-left 15px
    float left
  &-date
    vertical-align bottom
    color $c-gray
    font-style: italic
    float left
  &-text
    margin-top 20px