@page {
    margin: 0;
    padding: 0;
}
section{
    width: 850px;
    height: 1400px;
    display: block;
    position: relative;
}
section img{
    position: relative;
}
.item_val{
    display: inline;
    float: left;
    font-size: 9pt;
    line-height: 9pt;
}

.clear{
    width: 100%;
    display: block;
    float: left;
    clear: both;
}

.block{
    display: inline-block;
    float: left;
    margin-right: 1px;
}

.debug .item_val{
    background: rgba(255, 255, 0, 0.4);
}
.debug .clear{
    background: rgba(255, 0, 0, 0.41);
}
.debug .block{
    background: rgba(0, 128, 0, 0.3);
}
.template{
    /*background: rebeccapurple ;*/
    background: url("/images/template.png");
    width: 850px;
    height: 1400px;
    display: block;
    position: relative;
}