html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 80px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    padding-bottom: 18px !important;
    padding-top: 18px !important;
}

.jumbotron h1 {
    font-size: 2.8em !important;
}

.jumbotron .btn {
    font-size: 16px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

a:focus {
    outline: none !important;
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.post, .page {
    margin-bottom: 20px;
}

.post img, .page img {
    border: 1px solid #ddd;
    margin: 7px 7px 0 7px;
}
div.service-item{
    margin-bottom: 40px;
}
div.service-item__wrap{
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding: 20px 0;
    margin-bottom: 30px;
}
div.service-item__icon{
    font-size: 50px;
    margin: 20px auto;
}
.service-steps{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.service-step{
    padding-bottom: 40px;
    display: table-row;
}

.service-step__left{
    height: 100%;
    display: table-cell;
    padding: 0;
}
.service-step__content{
    display: table-cell;
    height: 100%;
    padding-bottom: 20px;
}

.service-step__left-line{
    width: 5px;
    background: #cacaca;
    height: 100%;
}
.service-step__left-number{
    background: white;
    border: 2px solid #cacaca;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-left: -10px;
    color: #cacaca;
    font-size: 20px;
    line-height: 20px;
}
.service-step__left-number-full{
    background: #cacaca;
}
.service-step:last-child .service-step__left-line{
    background: none;
}
.check-list-table label{
    font-weight: normal;
}

.form-group>div>label{
    margin-right: 20px;
}